Table Creation

In [1]:
import pandas as pd

# Define the data
data = {
    "col1": [
        "",
        "",
        "",
        "",
        ""
        ],
    "col2": [
        "",
        "",
        "",
        "",
        ""
        ],
    "col3": [
        "",
        "",
        "",
        "",
        ""
        ],
}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the table
df.style.set_properties(**{'text-align': 'left'}).set_table_styles(
    [{'selector': 'th', 'props': [('text-align', 'left')]}]
)